@{
    ViewData["Title"] = "Index";
}
@model HomeVM
<!-- Begin Slider Area -->
<div class="slider-area">
    <!-- Main Slider -->
        <div class="swiper-container main-slider swiper-arrow with-bg_white">
            <div class="swiper-wrapper">
                @foreach (var item in Model.Sliders)
                {
                    <div class="swiper-slide animation-style-01">
                            <div class="slide-inner style-1 bg-height"
                                 data-bg-image="../../assets/images/slider/bg/1-1.jpg">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-6 order-2 order-lg-1 align-self-center">
                                            <div class="slide-content text-black">
                                                <span class="offer">@item.SubTitle</span>
                                                <h2 class="title">@item.MainTitle</h2>
                                                <p class="short-desc">
                                                    @item.Description
                                                </p>
                                                <div class="btn-wrap">
                                                    <a class="btn btn-custom-size xl-size btn-pronia-primary"
                                                       href="@item.BtnUrl">@item.BtnText</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-8 offset-md-2 offset-lg-0 order-1 order-lg-2">
                                            <div class="inner-img">
                                                <div class="scene fill">
                                                    <div class="expand-width" data-depth="0.2">
                                                        <img src="~/assets/images/website-images//@item.ImageUrl"
                                                             alt="Inner Image" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                }
            </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination d-md-none"></div>

        <!-- Add Arrows -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
    
</div>
<!-- Slider Area End Here -->
<!-- Begin Shipping Area -->
<div class="shipping-area section-space-top-100">
    <div class="container">
        <div class="shipping-bg">
            <div class="row shipping-wrap">
                @foreach(var service in Model.Services)
                {
                    <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
                        <div class="shipping-item">
                            <div class="shipping-img">
                                <img src="~/assets/images/website-images//@service.Icon"
                                     alt="Shipping Icon" />
                            </div>
                            <div class="shipping-content">
                                <h2 class="title">@service.Name</h2>
                                <p class="short-desc mb-0">@service.Description</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- Shipping Area End Here -->
<!-- Begin Product Area -->
<div class="product-area section-space-top-100">
    <div class="container">
        <div class="section-title-wrap">
            <h2 class="section-title mb-0">Our Products</h2>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="nav product-tab-nav tab-style-1"
                    id="myTab"
                    role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="active"
                           id="featured-tab"
                           data-bs-toggle="tab"
                           href="#featured"
                           role="tab"
                           aria-controls="featured"
                           aria-selected="true">
                            Featured
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a id="bestseller-tab"
                           data-bs-toggle="tab"
                           href="#bestseller"
                           role="tab"
                           aria-controls="bestseller"
                           aria-selected="false">
                            Bestseller
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a id="latest-tab"
                           data-bs-toggle="tab"
                           href="#latest"
                           role="tab"
                           aria-controls="latest"
                           aria-selected="false">
                            Latest
                        </a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active"
                         id="featured"
                         role="tabpanel"
                         aria-labelledby="featured-tab">
                        <partial name="_HomeProductsPartialView" model="Model.Features"></partial>
                    </div>
                    <div class="tab-pane fade"
                            id="bestseller"
                            role="tabpanel"
                            aria-labelledby="bestseller-tab">
                        <partial name="_HomeProductsPartialView" model="Model.BestSellers"></partial>
                    </div>
                    <div class="tab-pane fade"
                        id="latest"
                        role="tabpanel"
                        aria-labelledby="latest-tab">
                        <partial name="_HomeProductsPartialView" model="Model.Lastests"></partial>
                    </div>
                </div>
             </div>
        </div>
    </div>
</div>
<!-- Product Area End Here -->
<!-- Begin Banner Area -->
<div class="banner-area section-space-top-90">
    <div class="container">
        <div class="row g-min-30 g-4">
            <div class="col-lg-8">
                <div class="banner-item img-hover-effect">
                    <div class="banner-img">
                        <img src="~/assets/images/website-images//1-1-770x300.jpg"
                             alt="Banner Image" />
                    </div>
                    <div class="banner-content text-position-left">
                        <span class="collection">Collection Of Cactus</span>
                        <h3 class="title">
                            Pottery Pots & <br />
                            Plant
                        </h3>
                        <div class="button-wrap">
                            <a class="btn btn-custom-size btn-pronia-primary"
                               href="shop.html">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="banner-item img-hover-effect">
                    <div class="banner-img">
                        <img src="~/assets/images/website-images//1-2-370x300.jpg"
                             alt="Banner Image" />
                    </div>
                    <div class="banner-content text-position-center">
                        <span class="collection">New Collection</span>
                        <h3 class="title">Plant Port</h3>
                        <div class="button-wrap">
                            <a class="btn btn-custom-size lg-size btn-pronia-primary"
                               href="shop.html">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="banner-item img-hover-effect">
                    <div class="banner-img">
                        <img src="~/assets/images/website-images//1-3-370x300.jpg"
                             alt="Banner Image" />
                    </div>
                    <div class="banner-content text-position-center">
                        <span class="collection">New Collection</span>
                        <h3 class="title">Plant Port</h3>
                        <div class="button-wrap">
                            <a class="btn btn-custom-size lg-size btn-pronia-primary"
                               href="shop.html">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="banner-item img-hover-effect">
                    <div class="banner-img">
                        <img src="~/assets/images/website-images//1-4-770x300.jpg"
                             alt="Banner Image" />
                    </div>
                    <div class="banner-content text-position-left">
                        <span class="collection">Collection Of Cactus</span>
                        <h3 class="title">
                            Hanging Pots & <br />
                            Plant
                        </h3>
                        <div class="button-wrap">
                            <a class="btn btn-custom-size lg-size btn-pronia-primary"
                               href="shop.html">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End Here -->
<!-- Begin Product Area -->
<div class="product-area section-space-top-100">
    <div class="container">
        <div class="row">
            <div class="section-title-wrap without-tab">
                <h2 class="section-title">New Products</h2>
                <p class="section-desc">
                    Contrary to popular belief, Lorem Ipsum is not simply random
                    text. It has roots in a piece of classical Latin literature
                </p>
            </div>
            <div class="col-lg-12">
                <div class="swiper-container product-slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide product-item">
                            <div class="product-img">
                                <a href="shop.html">
                                    <img class="primary-img"
                                         src="~/assets/images/website-images//1-9-270x300.jpg"
                                         alt="Product Images" />
                                    <img class="secondary-img"
                                         src="~/assets/images/website-images//1-10-270x300.jpg"
                                         alt="Product Images" />
                                </a>
                                <div class="product-add-action">
                                    <ul>
                                        <li>
                                            <a href="wishlist.html"
                                               data-tippy="Add to wishlist"
                                               data-tippy-inertia="true"
                                               data-tippy-animation="shift-away"
                                               data-tippy-delay="50"
                                               data-tippy-arrow="true"
                                               data-tippy-theme="sharpborder">
                                                <i class="pe-7s-like"></i>
                                            </a>
                                        </li>
                                        <li class="quuickview-btn"
                                            data-bs-toggle="modal"
                                            data-bs-target="#quickModal">
                                            <a href="#"
                                               data-tippy="Quickview"
                                               data-tippy-inertia="true"
                                               data-tippy-animation="shift-away"
                                               data-tippy-delay="50"
                                               data-tippy-arrow="true"
                                               data-tippy-theme="sharpborder">
                                                <i class="pe-7s-look"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="cart.html"
                                               data-tippy="Add to cart"
                                               data-tippy-inertia="true"
                                               data-tippy-animation="shift-away"
                                               data-tippy-delay="50"
                                               data-tippy-arrow="true"
                                               data-tippy-theme="sharpborder">
                                                <i class="pe-7s-cart"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-content">
                                <a class="product-name" href="shop.html">American Marigold</a>
                                <div class="price-box pb-1">
                                    <span class="new-price">$23.45</span>
                                </div>
                                <div class="rating-box">
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide product-item">
                            <div class="product-img">
                                <a href="shop.html">
                                    <img class="primary-img"
                                         src="~/assets/images/website-images//1-10-270x300.jpg"
                                         alt="Product Images" />
                                    <img class="secondary-img"
                                         src="~/assets/images/website-images//1-11-270x300.jpg"
                                         alt="Product Images" />
                                </a>
                                <div class="product-add-action">
                                    <ul>
                                        <li>
                                            <a href="wishlist.html"
                                               data-tippy="Add to wishlist"
                                               data-tippy-inertia="true"
                                               data-tippy-animation="shift-away"
                                               data-tippy-delay="50"
                                               data-tippy-arrow="true"
                                               data-tippy-theme="sharpborder">
                                                <i class="pe-7s-like"></i>
                                            </a>
                                        </li>
                                        <li class="quuickview-btn"
                                            data-bs-toggle="modal"
                                            data-bs-target="#quickModal">
                                            <a href="#"
                                               data-tippy="Quickview"
                                               data-tippy-inertia="true"
                                               data-tippy-animation="shift-away"
                                               data-tippy-delay="50"
                                               data-tippy-arrow="true"
                                               data-tippy-theme="sharpborder">
                                                <i class="pe-7s-look"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="cart.html"
                                               data-tippy="Add to cart"
                                               data-tippy-inertia="true"
                                               data-tippy-animation="shift-away"
                                               data-tippy-delay="50"
                                               data-tippy-arrow="true"
                                               data-tippy-theme="sharpborder">
                                                <i class="pe-7s-cart"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-content">
                                <a class="product-name" href="shop.html">Black Eyed Susan</a>
                                <div class="price-box pb-1">
                                    <span class="new-price">$25.45</span>
                                </div>
                                <div class="rating-box">
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide product-item">
                            <div class="product-img">
                                <a href="shop.html">
                                    <img class="primary-img"
                                         src="~/assets/images/website-images//1-11-270x300.jpg"
                                         alt="Product Images" />
                                    <img class="secondary-img"
                                         src="~/assets/images/website-images//1-4-270x300.jpg"
                                         alt="Product Images" />
                                </a>
                                <div class="product-add-action">
                                    <ul>
                                        <li>
                                            <a href="wishlist.html"
                                               data-tippy="Add to wishlist"
                                               data-tippy-inertia="true"
                                               data-tippy-animation="shift-away"
                                               data-tippy-delay="50"
                                               data-tippy-arrow="true"
                                               data-tippy-theme="sharpborder">
                                                <i class="pe-7s-like"></i>
                                            </a>
                                        </li>
                                        <li class="quuickview-btn"
                                            data-bs-toggle="modal"
                                            data-bs-target="#quickModal">
                                            <a href="#"
                                               data-tippy="Quickview"
                                               data-tippy-inertia="true"
                                               data-tippy-animation="shift-away"
                                               data-tippy-delay="50"
                                               data-tippy-arrow="true"
                                               data-tippy-theme="sharpborder">
                                                <i class="pe-7s-look"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="cart.html"
                                               data-tippy="Add to cart"
                                               data-tippy-inertia="true"
                                               data-tippy-animation="shift-away"
                                               data-tippy-delay="50"
                                               data-tippy-arrow="true"
                                               data-tippy-theme="sharpborder">
                                                <i class="pe-7s-cart"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-content">
                                <a class="product-name" href="shop.html">Bleeding Heart</a>
                                <div class="price-box pb-1">
                                    <span class="new-price">$30.45</span>
                                </div>
                                <div class="rating-box">
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide product-item">
                            <div class="product-img">
                                <a href="shop.html">
                                    <img class="primary-img"
                                         src="~/assets/images/website-images//1-7-270x300.jpg"
                                         alt="Product Images" />
                                    <img class="secondary-img"
                                         src="~/assets/images/website-images//1-8-270x300.jpg"
                                         alt="Product Images" />
                                </a>
                                <div class="product-add-action">
                                    <ul>
                                        <li>
                                            <a href="wishlist.html"
                                               data-tippy="Add to wishlist"
                                               data-tippy-inertia="true"
                                               data-tippy-animation="shift-away"
                                               data-tippy-delay="50"
                                               data-tippy-arrow="true"
                                               data-tippy-theme="sharpborder">
                                                <i class="pe-7s-like"></i>
                                            </a>
                                        </li>
                                        <li class="quuickview-btn"
                                            data-bs-toggle="modal"
                                            data-bs-target="#quickModal">
                                            <a href="#"
                                               data-tippy="Quickview"
                                               data-tippy-inertia="true"
                                               data-tippy-animation="shift-away"
                                               data-tippy-delay="50"
                                               data-tippy-arrow="true"
                                               data-tippy-theme="sharpborder">
                                                <i class="pe-7s-look"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="cart.html"
                                               data-tippy="Add to cart"
                                               data-tippy-inertia="true"
                                               data-tippy-animation="shift-away"
                                               data-tippy-delay="50"
                                               data-tippy-arrow="true"
                                               data-tippy-theme="sharpborder">
                                                <i class="pe-7s-cart"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-content">
                                <a class="product-name" href="shop.html">Bloody Cranesbill</a>
                                <div class="price-box pb-1">
                                    <span class="new-price">$45.00</span>
                                </div>
                                <div class="rating-box">
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Product Area End Here -->
<!-- Begin Testimonial Area -->
<div class="testimonial-area section-space-top-90 section-space-bottom-95">
    <div class="container-fluid">
        <div class="testimonial-bg"
             data-bg-image="../../assets/images/testimonial/bg/1-1-1820x443.jpg">
            <div class="section-title-wrap">
                <h2 class="section-title">What Say Client</h2>
                <p class="section-desc mb-0">
                    Contrary to popular belief, Lorem Ipsum is not simply random
                    text. It has roots in a piece of classical Latin literature
                </p>
            </div>
        </div>
        <div class="container custom-space">
            <div class="swiper-container testimonial-slider with-bg">
                <div class="swiper-wrapper">
                    <div class="swiper-slide testimonial-item">
                        <div class="user-info mb-3">
                            <div class="user-shape-wrap">
                                <div class="user-img">
                                    <img src="~/assets/images/website-images//1--1rnu4p.png"
                                         alt="User Image" />
                                </div>
                            </div>
                            <div class="user-content text-charcoal">
                                <h4 class="user-name mb-1">Phoenix Baker</h4>
                                <span class="user-occupation">Client</span>
                            </div>
                        </div>
                        <p class="user-comment mb-6">
                            Lorem ipsum dolor sit amet, conse adipisic elit, sed do
                            eiusmod tempo incididunt ut labore et dolore. magna
                        </p>
                    </div>
                    <div class="swiper-slide testimonial-item">
                        <div class="user-info mb-3">
                            <div class="user-shape-wrap">
                                <div class="user-img">
                                    <img src="~/assets/images/website-images//2.png"
                                         alt="User Image" />
                                </div>
                            </div>
                            <div class="user-content text-charcoal">
                                <h4 class="user-name mb-1">Phoenix Baker</h4>
                                <span class="user-occupation">Client</span>
                            </div>
                        </div>
                        <p class="user-comment mb-6">
                            Lorem ipsum dolor sit amet, conse adipisic elit, sed do
                            eiusmod tempo incididunt ut labore et dolore. magna
                        </p>
                    </div>
                    <div class="swiper-slide testimonial-item">
                        <div class="user-info mb-3">
                            <div class="user-shape-wrap">
                                <div class="user-img">
                                    <img src="~/assets/images/website-images//3.png"
                                         alt="User Image" />
                                </div>
                            </div>
                            <div class="user-content text-charcoal">
                                <h4 class="user-name mb-1">Phoenix Baker</h4>
                                <span class="user-occupation">Client</span>
                            </div>
                        </div>
                        <p class="user-comment mb-6">
                            Lorem ipsum dolor sit amet, conse adipisic elit, sed do
                            eiusmod tempo incididunt ut labore et dolore. magna
                        </p>
                    </div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination without-absolute"></div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial Area End Here -->
<!-- Begin Brand Area -->
<div class="brand-area section-space-bottom-100">
    <div class="container">
        <div class="brand-bg"
             data-bg-image="~/assets/images/website-images//1-1170x300.jpg">
            <div class="row">
                <div class="col-lg-12">
                    <div class="swiper-container brand-slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a class="brand-item" href="#">
                                    <img src="~/assets/images/website-images//1-1.png"
                                         alt="Brand Image" />
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a class="brand-item" href="#">
                                    <img src="~/assets/images/website-images//1-2.png"
                                         alt="Brand Image" />
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a class="brand-item" href="#">
                                    <img src="~/assets/images/website-images//1-3.png"
                                         alt="Brand Image" />
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a class="brand-item" href="#">
                                    <img src="~/assets/images/website-images//1-4.png"
                                         alt="Brand Image" />
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a class="brand-item" href="#">
                                    <img src="~/assets/images/website-images//1-5.png"
                                         alt="Brand Image" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Brand Area End Here -->
<!-- Begin Modal Area -->
<!-- Begin Modal Area -->
<div class="modal quick-view-modal fade"
     id="quickModal"
     data-bs-backdrop="static"
     data-bs-keyboard="false"
     tabindex="-1"
     aria-labelledby="quickModal"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                        data-tippy="Close"
                        data-tippy-inertia="true"
                        data-tippy-animation="shift-away"
                        data-tippy-delay="50"
                        data-tippy-arrow="true"
                        data-tippy-theme="sharpborder"></button>
            </div>
            <div class="modal-body">
                <div class="modal-wrap row">
                    <div class="col-lg-6">
                        <div class="modal-img">
                            <div class="swiper-container modal-slider">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <a href="#" class="single-img">
                                            <img class="img-full"
                                                 src="assets/images/website-images/1-1-570x633.jpg"
                                                 alt="Product Image" />
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="#" class="single-img">
                                            <img class="img-full"
                                                 src="assets/images/website-images/1-2-570x633.jpg"
                                                 alt="Product Image" />
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="#" class="single-img">
                                            <img class="img-full"
                                                 src="assets/images/website-images/1-3-570x633.jpg"
                                                 alt="Product Image" />
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="#" class="single-img">
                                            <img class="img-full"
                                                 src="assets/images/website-images/1-4-570x633.jpg"
                                                 alt="Product Image" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 pt-5 pt-lg-0">
                        <div class="single-product-content">
                            <h2 class="title">American Marigold</h2>
                            <div class="price-box">
                                <span class="new-price">$23.45</span>
                            </div>
                            <div class="rating-box-wrap">
                                <div class="rating-box">
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                                <div class="review-status">
                                    <a href="#">( 1 Review )</a>
                                </div>
                            </div>
                            <div class="selector-wrap color-option">
                                <span class="selector-title border-bottom-0">Color</span>
                                <select class="nice-select wide border-bottom-0 rounded-0">
                                    <option value="default">Black & White</option>
                                    <option value="blue">Blue</option>
                                    <option value="green">Green</option>
                                    <option value="red">Red</option>
                                </select>
                            </div>
                            <div class="selector-wrap size-option">
                                <span class="selector-title">Size</span>
                                <select class="nice-select wide rounded-0">
                                    <option value="medium">Medium Size & Poot</option>
                                    <option value="large">Large Size With Poot</option>
                                    <option value="small">Small Size With Poot</option>
                                </select>
                            </div>
                            <p class="short-desc">
                                Lorem ipsum dolor sit amet, consectetur adipisic elit, sed
                                do eiusmod tempo incid ut labore et dolore magna aliqua.
                                Ut enim ad minim veniam, quis nostru exercitation ullamco
                                laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                                irure dolor in reprehenderit in voluptate
                            </p>
                            <ul class="quantity-with-btn">
                                <li class="quantity">
                                    <div class="cart-plus-minus">
                                        <input class="cart-plus-minus-box"
                                               value="1"
                                               type="text" />
                                    </div>
                                </li>
                                <li class="add-to-cart">
                                    <a class="btn btn-custom-size lg-size btn-pronia-primary"
                                       href="cart.html">Add to cart</a>
                                </li>
                                <li class="wishlist-btn-wrap">
                                    <a class="custom-circle-btn" href="wishlist.html">
                                        <i class="pe-7s-like"></i>
                                    </a>
                                </li>
                                <li class="compare-btn-wrap">
                                    <a class="custom-circle-btn" href="compare.html">
                                        <i class="pe-7s-refresh-2"></i>
                                    </a>
                                </li>
                            </ul>
                            <ul class="service-item-wrap pb-0">
                                <li class="service-item">
                                    <div class="service-img">
                                        <img src="assets/images/shipping/icon/car.png"
                                             alt="Shipping Icon" />
                                    </div>
                                    <div class="service-content">
                                        <span class="title">
                                            Free <br />
                                            Shipping
                                        </span>
                                    </div>
                                </li>
                                <li class="service-item">
                                    <div class="service-img">
                                        <img src="assets/images/shipping/icon/card.png"
                                             alt="Shipping Icon" />
                                    </div>
                                    <div class="service-content">
                                        <span class="title">
                                            Safe <br />
                                            Payment
                                        </span>
                                    </div>
                                </li>
                                <li class="service-item">
                                    <div class="service-img">
                                        <img src="assets/images/shipping/icon/service.png"
                                             alt="Shipping Icon" />
                                    </div>
                                    <div class="service-content">
                                        <span class="title">
                                            Safe <br />
                                            Payment
                                        </span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Area End Here -->
<!-- Modal Area End Here -->
@section scripts{
    <script>
        $(document).ready(function () {
            $(document).on("click", ".quuickview-btn", function (e) {
                e.preventDefault();
                let url = $(this).children().attr("href");
                fetch(url).then(data => data.text()).then(data => $("#quickModal").html(data))
            })
        })
    </script>
}