
@{
    ViewData["Title"] = "Index";
}
@using P227Pronia.ViewModels.Products
@model ProductListVM
<main class="main-content">
        <div
          class="breadcrumb-area breadcrumb-height"
          data-bg-image="assets/images/breadcrumb/bg/1-1-1919x388.jpg"
        >
          <div class="container h-100">
            <div class="row h-100">
              <div class="col-lg-12">
                <div class="breadcrumb-item">
                  <h2 class="breadcrumb-heading">Shop</h2>
                  <ul>
                    <li>
                      <a href="index.html">Home</a>
                    </li>
                    <li>Shop Default</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="shop-area section-space-y-axis-100">
          <div class="container">
            <div class="row">
              <div class="col-xl-3 col-lg-4 order-2 order-lg-1 pt-5 pt-lg-0">
                <div class="sidebar-area">
                  <div class="widgets-searchbox">
                    <form id="widgets-searchbox">
                      <input
                        class="input-field"
                        type="text"
                        placeholder="Search"
                      />
                      <button class="widgets-searchbox-btn" type="submit">
                        <i class="fa fa-search"></i>
                      </button>
                    </form>
                  </div>
                  <div class="widgets-area">
                    <div class="widgets-item pt-0">
                      <h2 class="widgets-title mb-4">Color</h2>
                      <ul class="widgets-category widgets-color">
                          <li colorId="0">
                              <a href="#">
                                <i class="fa fa-chevron-right"></i>
                                All<span>(@Model.ProductCount)</span>
                              </a>
                            </li> 
                          @foreach (var color in Model.Colors)
                          {
                            <li colorId="@color.Id">
                                            <a href="#">
                                <i class="fa fa-chevron-right"></i>
                                @color.Name <span>(@color.ProductColors.Count)</span>
                              </a>
                            </li>    
                          }
                      </ul>
                    </div>
                    <div class="widgets-item widgets-filter">
                      <h2 class="widgets-title mb-4">Price Filter</h2>
                      <div class="price-filter">
                        <input
                          type="text"
                          class="pronia-range-slider"
                          name="pronia-range-slider"
                          value=""
                          data-type="double"
                          data-min="0"
                          data-from="0"
                          data-to="@Model.Products.Max(p=>p.SellPrice)"
                          data-max="@Model.Products.Max(p=>p.SellPrice)"
                          data-grid="false"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="banner-item widgets-banner img-hover-effect">
                    <div class="banner-img">
                      <img
                        src="assets/images/website-images/1-270x300.webp"
                        alt="Banner Image"
                      />
                    </div>
                    <div class="banner-content text-position-center">
                      <span class="collection">New Collection</span>
                      <h3 class="title">Plant Port</h3>
                      <div class="button-wrap">
                        <a
                          class="btn btn-custom-size sm-size btn-pronia-primary"
                          href="#"
                          >Shop Now</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-9 col-lg-8 order-1 order-lg-2">
                <div class="product-topbar">
                  <ul>
                    <li class="page-count">
                      <span>12</span> Product Found of <span>30</span>
                    </li>
                    <li class="product-view-wrap">
                      <ul class="nav" role="tablist">
                        <li class="grid-view" role="presentation">
                          <a
                            class="active"
                            id="grid-view-tab"
                            data-bs-toggle="tab"
                            href="#grid-view"
                            role="tab"
                            aria-selected="true"
                          >
                            <i class="fa fa-th"></i>
                          </a>
                        </li>
                        <li class="list-view" role="presentation">
                          <a
                            id="list-view-tab"
                            data-bs-toggle="tab"
                            href="#list-view"
                            role="tab"
                            aria-selected="true"
                          >
                            <i class="fa fa-th-list"></i>
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li class="short">
                      <select class="nice-select">
                        <option value="1">Sort by Default</option>
                        <option value="2">Sort by Popularity</option>
                        <option value="3">Sort by Rated</option>
                        <option value="4">Sort by Latest</option>
                        <option value="5">Sort by High Price</option>
                        <option value="6">Sort by Low Price</option>
                      </select>
                    </li>
                  </ul>
                </div>
                <div class="tab-content" id="tab-context">
                        <partial name="_ProductFilterPartialView" model="@Model.Products"></partial>
                </div>
                <div class="pagination-area">
                  <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                      <li class="page-item active">
                        <a class="page-link" href="#">1</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="#">2</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="#">3</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next"
                          >&raquo;</a
                        >
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>

@section scripts{
    <script>

        const obj = {
            ColorId:0,
            MinPrice: 0,
            MaxPrice: $(".pronia-range-slider").val().split(";")[1]
        }
        $(".widgets-category a").click(function(e){
            e.preventDefault();
            obj.ColorId = $(this).parent().attr("colorId");
            getProducts();
        })
        $(".price-filter").on("mouseup", ".irs-handle.from,.irs-handle.to", function () {
            obj.MinPrice = $(".pronia-range-slider").val().split(";")[0];
            obj.MaxPrice = $(".pronia-range-slider").val().split(";")[1];
            console.log($(".pronia-range-slider").val());
            console.log(obj);
            getProducts();
        })
        function getProducts(){
            if(obj.MinPrice < obj.MaxPrice){
                $.ajax({
                    type: "GET",
                    url: "/Product/FilterProducts",
                    data: obj,
                    dataType: "text",
                    success: function (data) {
                        $("#tab-context").html(data)
                    },
                    error: function (err) {
                        document.write(err.responseText);
                    }
                });
            }
        }
    </script>   
}